.wrap .contents .c_middle, .wrap .contents .c_bottom,.wrap ,.wrap ,.wrap footer .ft_wrap .ft_middle { overflow: hidden; }
.wrap .menu_bg { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.486); z-index: 11; }
.wrap header .header_wrap { padding-top: 40px; }
.wrap header .header_wrap .header_M_left { display: none; }
.wrap header .header_left, .wrap header .header_middle, .wrap header .header_right  { float: left; width: 33%; }
.wrap header::after { content: ''; display: block; overflow: hidden; clear: both; } 
.wrap header .header_wrap .header_right ul li { float: left; width: 13%; }
.wrap header .header_wrap .header_right ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .header_wrap .header_right ul .header_login { margin-left: 31%; margin-right: 15px; }

.wrap header .header_wrap .header_middle { width: 33%; border-radius: 10px; border: 2px solid #3f3734; background-color: white; }
.wrap header .header_wrap .header_middle div { float: left; }
.wrap header .header_wrap .header_middle div:first-child { width: 80%; }
.wrap header .header_wrap .header_middle div:last-child { width: 20%; }
.wrap header .header_wrap .header_middle .search_box { float: left; width: 80%; height: 38px; background-color: white; border: none; border-right: transparent; border-radius: 10px; }
.wrap header .header_wrap .header_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap header .header_wrap .header_middle button { float: right; width: 50px; height: 38px; border: none; background-color: white; border-radius: 10px; }

.wrap header .header_wrap .header_bottom .hb_menu { padding-top: 30px; margin-bottom: 20px; }
.wrap header .header_wrap .header_bottom .hb_menu .swiper-slide a:hover { color: #024100; }
.wrap header .header_wrap .header_bottom .hb_menu .swiper-slide:first-child a { margin-left: -50px; }
.wrap header .header_wrap .header_bottom .search_wrap { display: none; }
.wrap header .header_wrap .header_bottom .search_wrap .search_input { overflow: hidden; width: 100%; }

.wrap .left_menu { position: absolute; top: 0; height: 100%; display: none; }
.wrap .left_menu .left_menu_wrap { width: 260px; height: 100%; background-color: white; padding: 15px; position: absolute; z-index: 100; }
.wrap .left_menu .left_menu_wrap .login_wrap { position: relative; margin: 0 0 10px; padding: 10px 0; }
.wrap .left_menu .close_btn { position: absolute; top: 0; z-index: 11; left: 260px; background-color: #403a3a; padding: 10px 15px; display: none;}
.wrap .left_menu .close_btn a i { color: white; font-size: 20px; }
.wrap .left_menu .left_menu_wrap .login_wrap .login_form_wrap form fieldset input { width: 100%; padding: 3px; border: 1px solid rgb(168, 168, 168); }
.wrap .left_menu .left_menu_wrap .login_wrap .login_form_wrap form fieldset #login_id { margin-bottom: 10px; }
.wrap .left_menu .left_menu_wrap .login_wrap .login_form_wrap form fieldset #login_submit { background-color: #403a3a;; color: white; padding: 10px; border: none; }
.wrap .left_menu .left_menu_wrap .login_wrap .login_form_wrap #login_form fieldset #login_checkbox ul li { float: left; width: 33%; }
.wrap .left_menu .left_menu_wrap .login_wrap .login_form_wrap #login_form fieldset #login_checkbox ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .left_menu .left_menu_wrap .login_wrap .login_form_wrap #login_form fieldset #login_checkbox ul li:first-child { width: 10%; }
.wrap .left_menu .left_menu_wrap .catego_menu { width: 100%; margin: 0 auto; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab { padding-left: 10px; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab_subject ul { border-bottom: 2px solid #ddd; padding-bottom: 15px; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab_subject ul li { float: left; width: 33.3%; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab_subject ul li a:hover { font-weight: bold; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab_subject ul li:first-child { width: 30%; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab_subject ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab ul li { border-bottom: 1px solid #ddd; padding-bottom: 5%; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab ul li a:hover { color:#5e5e5e; font-weight: bold; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab { display: none; }
.wrap .left_menu .left_menu_wrap .catego_menu .left_tab_active { display: block; } 

/*.wrap contents*/
.wrap .contents .c_top .main-container { position: relative; }
.wrap .contents .c_top .main-container .swiper-wrapper .swiper-slide a img { width: 100%; }
.wrap .contents .c_top .main-container .swiper-button-prev,.wrap .contents .c_top .main-container .swiper-button-next {  color: white; }
.wrap .contents .c_top .main-container .swiper-button-prev { left: 75px; }
.wrap .contents .c_top .main-container .swiper-button-next { right: 75px; }
.wrap .contents .c_top .main-container .swiper-button-prev::after,.wrap .contents .c_top .main-container .swiper-button-next::after { font-size: 75px; }

.wrap .contents .c_middle .c_middle_tab { margin: 3% 0 5% 0; }
.wrap .contents .c_middle .c_middle_tab .swiper-wrapper button  { padding: 11px; border: none; background-color: #898989; color: white; font-size: 20px; }
.wrap .contents .c_middle .c_middle_tab .swiper-wrapper .sub_menu_active { background-color: #403a3a; color: white; }
.wrap .contents .c_middle .c_middle_tab .swiper-wrapper button:hover { background-color: #403a3a; }
.wrap .contents .c_middle .tabcontent { display: none; }
.wrap .contents .c_middle .tab_active { display: block; }
.wrap .contents .c_middle .tabcontent .cm_top { margin-bottom: 20px; }
.wrap .contents .c_middle .tabcontent .cm_top h2 { font-size: 28px; }
.wrap .contents .c_middle .tabcontent .cm_middle ul li { text-align: center; }
/* .wrap .contents .c_middle .tabcontent .cm_middle .img-thumbnail , */
.wrap .contents .c_middle .tabcontent .cm_middle ul li ul li:first-child { margin-bottom: 20px; }
.wrap .contents .c_middle .tabcontent .cm_middle ul li ul li p { margin-bottom: 10px; }
.wrap .contents .c_middle .tabcontent .cm_middle ul li ul li:last-child p { margin-bottom: 20px; color: grey; }
.wrap .contents .c_middle .tabcontent .cm_middle ul li ul li strong { display: inline-block; margin-bottom: 10px; font-weight: 600; }

.wrap .contents .c_bottom .cb_top { margin-top: 80px; margin-bottom: 25px; }
.wrap .contents .c_bottom .cb_top h2 { font-size: 28px; }
.wrap .contents .c_bottom .cb_middle ul li h3 del { margin-right: 5px; }
.wrap .contetns .c_bottom .cb_middle ul li:last-child p { margin-bottom: 20px; }

/*.wrap footer*/
.wrap footer { background-color: #3e3e3e; color: white; }
.wrap footer .ft_wrap .ft_middle .ftm_right ul li { word-break: keep-all; }
.wrap footer .ft_wrap .ft_middle { padding-top: 20px; padding-bottom: 40px; }
.wrap footer .ft_wrap .ft_middle .ftm_left a img { width: 65%; }
.wrap footer .ft_wrap .ft_middle .ftm_middle .ftmm_top li { margin-bottom: 10px; word-break: keep-all; }
.wrap footer .ft_wrap .ft_top .ft_menu .swiper-slide { background-color: #3e3e3e; }
.wrap footer .ft_wrap .ft_top .ft_menu .swiper-slide a { color: white; }

/*contents > contents.html*/
.wrap .contents .contents_middle img { width: 100%; }

/*board > info_list */        
.wrap .board_list { height: 60vh; }
.wrap .contents .info_list i { margin-left: 1%; }
.wrap .contents .info_list .if_top { margin-bottom: 20px; }
.wrap .contents .info_list .if_top ul { width: 35%; margin: 0 auto; overflow: hidden;  }
.wrap .contents .info_list .if_top ul li { float: left; width: 50%; text-align: center; font-size: 20px; }
.wrap .contents .info_list table { width: 100%; text-align: center; word-break: keep-all; font-size: 16px; color: #1c1c1c; }
.wrap .contents .info_list .if_top ul li a:hover { border-bottom: 2px solid #ddd; padding-bottom: 10px; display: inline-block; }
.wrap .contents .info_list table th { font-size: 18px; color: #000; }
.wrap .contents .info_list tr > th { border-bottom: 1px solid #dddddd; border-top: 2px solid #4e575e; }
.wrap .contents .info_list table th, td { padding: 7px; color:#333; }
.wrap .contents .info_list .bg_g { background-color: #f6f7fc; }
.wrap .contents .info_list .bg_g td, .wrap .contents .info_list .bg_w td { border-bottom: 1px solid #dddddd; }
.wrap .contents .info_list .bg_g .txt_l i ,.wrap .contents .info_list .bg_w td i { color: #585757; }

/* board > info_view */
.wrap .info_view_contents { padding-top: 0; }
.wrap .board_view_wrap { height: 52vh; }
.wrap .info_view_contents .board_view_wrap .bw_top { margin: 3% 0; }
.wrap .info_view_contents .board_view_wrap .bw_top h2 strong { color: #000; }
.wrap .info_view_contents .board_view_wrap .bw_top .bwt_middle { border-bottom: 1px solid #ddd; }
.wrap .info_view_contents .board_view_wrap .bw_top .bwt_middle div:first-child { float: left; font-weight: 600; }
.wrap .info_view_contents .board_view_wrap .bw_top .bwt_middle div:first-child strong { font-size: 13px; color: #000; }
.wrap .info_view_contents .board_view_wrap .bw_top .bwt_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .info_view_contents .board_view_wrap .bw_top .bwt_middle div:last-child { float: right; color: #888; font-size: 13px; font-style: italic; margin-right: 10px; }
.wrap .info_view_contents .board_view_wrap .bw_bottom p { word-break: keep-all; }
.wrap .info_view_contents .board_view_wrap .bw_bottom p:first-child { margin-bottom: 10px; }

/*board > info_write*/
.wrap .info_write_contents .board_write_wrap .if_write .form_info,.iw_table td i { color: red; font-size: 10px; }
.wrap .info_write_contents .board_write_wrap .if_write .ifw_btn { margin: 5% 0; }
.wrap .info_write_contents .board_write_wrap .if_write .ifw_btn input { border: none; padding: 13px; color: white; margin-right: 5px; }
.wrap .info_write_contents .board_write_wrap .if_write .ifw_btn .submit_btn { background-color: #6d6d6d; }
.wrap .info_write_contents .board_write_wrap .if_write .ifw_btn .cancel_btn { background-color: #de1515; }
.wrap .info_write_contents .board_write_wrap .ifw_table td i { margin-right: 2%; color: red; }
.wrap .info_write_contents .board_write_wrap .ifw_table { width:100%; border-top: 3px solid #bbb9b9; }
.wrap .info_write_contents .board_write_wrap .ifw_table tr { border-bottom: 1px solid #c7c7c7; }
.wrap .info_write_contents .board_write_wrap .ifw_table tr .t_color { background-color: #eee; }
.wrap .info_write_contents .board_write_wrap .ifw_table td input,.ifw_table td textarea { width: 100%; }
.wrap .info_write_contents .board_write_wrap .ifw_table tbody .inqury_td td { vertical-align: middle; }

/*login > login*/
.wrap .login_contents { padding-top: 0; }
.wrap .login_contents .login_wrap { height: 57vh; }
.wrap .login_contents .login_wrap .login_box { width: 510px;  background-color: white; margin: 5% auto; }
.wrap .login_contents .login_wrap .login_box .lb_top { padding-bottom: 5%; }
.wrap .login_contents .login_wrap .login_box .lb_top h2 { color: #777; }
.wrap .login_contents .login_wrap .login_box .lb_middle .lbmm_box { width:100%; overflow: hidden; }
.wrap .login_contents .login_wrap .login_box .lb_middle .lbmm_box div { float:left; }
.wrap .login_contents .login_wrap .login_box .lb_middle .lbm_middle .lbmb_check { margin: 20px 0; }
.wrap .login_contents .login_wrap .login_box .logbox_btn { margin: 0 auto; }
.wrap .login_contents .login_wrap .login_box .logbox_btn input[type=submit] { width: 100%; padding: 4%; background-color: #6d6d6d; color: white; border: none; }
.wrap .login_contents .login_wrap .login_box .lb_middle .lbmb_ibox input { width: 100%; padding: 5px; border: 1px solid #b3b3b3; }
.wrap .login_contents .login_wrap .login_box .lb_middle .lbmb_ibox input::placeholder { font-size: 12px; }
.wrap .login_contents .login_wrap .login_box .lbmb_check { margin: 5% 0;  }
.wrap .login_contents .login_wrap .login_box .lbmb_check input { margin-right: 10px; }
.wrap .login_contents .login_wrap .login_box .lb_bottom .lbmb_footer ul li { float: left; width: 50%; padding: 5%; }
.wrap .login_contents .login_wrap .login_box .lb_bottom .lbmb_footer ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .login_contents .login_wrap .login_box .lb_bottom .lbmb_footer { background-color: #f0f0f0; }
.wrap .login_contents .login_wrap .login_box .lb_bottom .lbmb_footer ul .lbmbf_left { border-right: 1px solid #d9d9d9; }
.wrap .login_contents .login_wrap .login_box .lb_bottom .lbmb_footer ul li input[type="button"] { border: none; }

 /*mb_cart*/
 .wrap .member_contents .member_wrap .member_middle .member_list { border-top:2px solid #808080; border-bottom: 2px solid #ddd; padding: 20px 0; }
 .wrap .member_contents .member_wrap .member_middle .member_list div { float: left; }
 .wrap .member_contents .member_wrap .member_middle .member_list::after { content: ''; display: block; overflow: hidden; clear: both; }
 .wrap .member_contents .member_wrap .member_middle .member_list h2 { margin-left: 10px; }
 
 .wrap .member_contents .member_wrap .member_middle .mbl_middle div { float: left; }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle::after { content: ''; display: block; overflow: hidden; clear: both; }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle .mbl_box ul { float: left; }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle .mbl_box::after { content: ''; display: block; overflow: hidden; clear: both; }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle .mbl_box ul li span { word-break: keep-all; display: block; width: 105px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;  }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle .mbl_box ul.cart_left li { float: left; }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle .mbl_box ul.cart_left::after { content: ''; display: block; overflow: hidden; clear: both; } 
 .wrap .member_contents .member_wrap .member_middle .mbl_middle .mbl_box ul.cart_left li a img { width: 55%; }
 .wrap .member_contents .member_wrap .member_middle .mbl_middle { border-bottom: 1px solid #ddd; padding-bottom: 20px; }

 .wrap .member_contents .member_wrap .mbcart_bottom .mb_right_info { float: right; width: 33.3%; text-align: right; }
 .wrap .member_contents .member_wrap .mbcart_bottom .mb_left_btn input { border: 1px solid #ddd; background-color: white; padding: 10px; font-size: 14px; }
 .wrap .member_contents .member_wrap .mbcart_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
 .wrap .member_contents .member_wrap .mbcart_bottom .mb_right_info ul li { float: left; width: 33.3%; }
 .wrap .member_contents .member_wrap .mbcart_bottom .mb_right_info ul::after { content: ''; display: block; overflow: hidden; clear: both; }
 .wrap .member_contents .member_wrap .mbcart_bottom .mb_left_btn input:hover { background-color: red; color: white; }
 .wrap .member_contents .member_wrap .mbcart_bottom div { float: left; }
 .wrap .member_contents .member_wrap .mb_bottom .mbb_btn input { border: 1px solid #ddd; padding: 12px; color: white; font-size: 17px; }

 /*product > product_list*/
 .wrap .product_contents .pro_wrap .pro_top div:first-child { border-bottom: 1px solid #ddd; padding-bottom: 20px; }
 .wrap .product_contents .pro_wrap .pro_top .prot_bottom ul,.wrap .product_contents .member_wrap .product_box { overflow: hidden; }
 .wrap .product_contents .pro_wrap .pro_top .prot_bottom ul li { float: left; padding-bottom: 5px; }
 .wrap .product_contents .pro_wrap .pro_top .prot_bottom ul li:hover { border-bottom: 1.5px solid rgb(119, 119, 119); }
 .wrap .product_contents .pro_wrap .product_box .pbl_img a { border: none; }
 .wrap .product_contents .pro_wrap .product_box .pbl_img img { width:100%; object-fit: scale-down; height: 25vh; }
 .wrap .product_contents .pro_wrap .product_box .pbl_subject a, 
 .wrap .product_contents .pro_wrap .product_box .pbl_point { color: #4d4d4d; font-size: 14px; }

/*----------------------------------------------------------mediaquery---------------------------------------------------------------------------------------*/
@media (max-width: 1430px) {
    .dw_1400px { width: 90%; }
    .wrap header .header_wrap .header_right ul .header_login { margin-left: 15%; }
    .wrap header .header_wrap .header_right ul .header_login { margin-right: 10px; }
    .wrap header .header_wrap .header_right ul li { width: 16%; font-size: 13px; }
    .wrap header .header_wrap .header_right ul li img { width: 33px; }

}
@media (max-width: 1110px) {
    .wrap header .header_right { width: 15%; margin-left: 17%; }
    .wrap header .header_wrap .header_right ul .header_login,.wrap header .header_wrap .header_right ul .header_join { display: none; }
    .wrap header .header_wrap .header_right ul li { width: 20%; margin-right: 20px; }
    .wrap header .header_wrap .header_right ul .menu_icon { margin-right: 0; }
    .wrap header .header_wrap .header_middle .search_box,.wrap header .header_wrap .header_middle button { height: 30px;}
        
}
@media (max-width:992px) {

    .wrap .member_contents .member_wrap .member_middle .mbl_middle div 
    ,.wrap .member_contents .member_wrap .mbcart_bottom .mb_right_info ul li,.wrap .mbcart_contents .mbcart_form .mbcart_wrap .mbcart_bottom .mb_left_btn input
     { font-size: 12px; }
     .wrap .member_contents .member_wrap .member_top h2.f24 { font-size: 22px; }
     .wrap .member_contents .member_wrap .mb_bottom .mbb_btn input,
     .wrap .member_contents .member_wrap .member_middle .member_list div { font-size: 14px; }

    .wrap footer .ft_wrap .ft_middle .ftm_left { margin-bottom: 10px; }
    .wrap footer .ft_wrap .ft_middle .ftm_middle { margin-bottom: 10px; }
    .wrap footer .ft_wrap .ft_middle .ftm_left a img { width: 155px; } 
}
@media (max-width: 768px) {
    .wrap header .header_wrap .header_middle { display: none; }
    .wrap header .header_right { margin-left: 0; float: right; width: 8%; }
    .wrap header .header_wrap .header_right ul li:not(.menu_icon) { display: none; }
    .wrap header .header_wrap .header_M_left { display: block; float: left; width: 33%; }
    .wrap header .header_wrap::after { content: ''; display: block; overflow: hidden; clear: both; }
    .wrap header .header_wrap .header_left { float: left; width: 4%; }
    .wrap header .header_wrap .header_left { width: 33%; text-align: center; }
    .wrap header .header_wrap .header_left img { width: 100%; }
    .wrap header .header_wrap .header_bottom .search_wrap { display: block; }
    .wrap header .header_wrap .header_bottom .search_wrap .search_input { display: none; }
    .wrap header .header_wrap .header_bottom .search_wrap .search_input input { width: 80%; border: none; border-radius: 10px; border: 1px solid #ddd; margin: 25px 5px 0 0; }
    .wrap header .header_wrap .header_bottom .search_wrap .search_input button { background-color:#403a3a; color: white; border: 1px solid #ddd; padding: 5px; margin: 10px 0; }
    .wrap .contents .c_top .main-container .swiper-button-prev::after, .wrap .contents .c_top .main-container .swiper-button-next::after { font-size: 50px; }
    .wrap .contents .c_top .main-container .swiper-button-prev { left: 25px; }
    .wrap .contents .c_top .main-container .swiper-button-next { right: 25px; }
    .wrap .contents .c_middle .tabcontent .cm_middle ul li ul li strong { color: #5f52a0; }
    .wrap .contents .c_middle .c_middle_tab .swiper-wrapper button { font-size: 16px; }
    .wrap footer .ft_wrap .ft_top .ft_menu .swiper-slide a { font-size: 14px; }
    .wrap footer .ft_wrap .ft_middle .ftm_middle .ftmm_top li { font-size: 13px; }
    .wrap footer .ft_wrap .ft_middle .ftm_right ul li.f22 { font-size: 18px; }
    .wrap footer .ft_wrap .ft_middle .ftm_right ul li.f16 { font-size: 13px; }
    .wrap footer .ft_wrap .ft_middle .ftm_right ul li.f18 { font-size: 15px; }

    /* contents > contetns.html*/
    .wrap .contents .f24 { font-size: 16px; }

    /* board > info_list */
    .wrap .contents .info_list .if_top ul { width: 50%; }
    .wrap .contents .info_list .if_top ul li { width: 45%; font-size: 14px; }
    .wrap .contents .info_list .if_top .it_left { margin-right: 10%; }
    .wrap .contents .info_list .bg_g .txt_l a ,.wrap .contents .info_list .bg_w .txt_l a 
    { width: 80px; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }  
    .wrap .contents .info_list table th { font-size: 12px; }
    .wrap .contents .info_list .bg_g td, .wrap .contents .info_list .bg_w td { font-size: 12px; }

    /* board > info_view */
    .wrap .info_view_contents .bw_top { margin: 5% 0; }
    .wrap .info_view_contents .write_btn a { font-size: 12px; }
    .wrap .info_view_contents .board_write_wrap .write_btn.mt10per { margin-top: 22%; }

    /*board > info_write*/
    .wrap .info_write_contents .board_write_wrap .ifw_table tbody tr td { font-size: 12px; }
    .wrap .info_write_contents .board_write_wrap .if_write .ifw_btn input { padding: 11px; }

    /*login > login*/
    .wrap .login_contents .login_wrap .login_box .lb_top h2.f24 { font-size: 22px; }
    .wrap .login_contents .login_wrap .login_box .logbox_btn.f18 { font-size: 16px; }

    /*member*/
    .wrap header .header_wrap .header_bottom .hb_menu .swiper-slide:first-child a { margin-left: 0; }
    .wrap .member_contents .member_wrap .mb_bottom .mbb_btn input { width: 100%; }
    .dn { display: none; }

    /* .wrap .member_contents .member_wrap .member_middle .member_list div,
    .wrap .member_contents .member_form .member_wrap .member_middle .mbl_middle div
    { float: none; } */
    
   /*mb_order_list*/

   .wrap .member_contents .member_wrap .member_middle .member_list .w20 { width: 24%; }
   .wrap .member_contents .member_wrap .member_middle .member_list .w15 { width: 20%; }
   .wrap .member_contents .member_wrap .member_middle .member_list .w10 { width: 10%; }
   
   .wrap .member_contents .member_form .member_wrap .member_middle .mbl_middle div.w20 { width: 24%; }
   .wrap .member_contents .member_form .member_wrap .member_middle .mbl_middle div.w15 { width: 20%; }
   .wrap .member_contents .member_form .member_wrap .member_middle .mbl_middle div.w10 { width: 10%; }


}
@media (max-width:600px) {
    .wrap header .header_wrap .header_bottom .hb_menu .swiper-slide { font-size: 14px; }
    .wrap footer .ft_wrap .ft_top .ft_menu .swiper-slide a { font-size: 12px; }
    .wrap .contents .c_middle .tabcontent .cm_top h2,.wrap .contents .c_bottom .cb_top h2 { font-size: 22px; }

    .p_paging .pp_wrap a { width: 16px; font-size: 12px;  }
    
    /* board > info_view */
    .wrap .info_view_contents .board_view_wrap .bw_top { margin: 6% 0; }
    .wrap .info_view_contents .board_view_wrap .bw_top h2.f22 { font-size: 18px; }
    .wrap .info_view_contents .board_view_wrap .write_btn.mt10per { margin-top: 33%; }
    .wrap .info_view_contents .board_view_wrap .bw_bottom { font-size: 13px; }

    /*board > info_write*/
    .wrap .info_white_contents .board_write_wrap .if_write .ifw_txt .f14 { font-size: 13px; }
    .wrap .info_white_contents .board_write_wrap .if_write .ifw_txt h2.f22 { font-size: 20px; }

    /*login > login*/
    .wrap .login_contents .login_wrap .login_box { width: 100%;  margin: 10% 0; }

}
@media (max-width:400px) {
    /*login > login*/
    .wrap .login_contents .login_wrap .login_box .lb_top h2.f24 { font-size: 18px; }
    .wrap .login_contents .login_wrap .login_box .logbox_btn.f18 { font-size: 14px; }
    .wrap .login_contents .login_wrap .login_box .lb_bottom .lbmb_footer ul li input[type="button"] { font-size: 12px; }
}
