


.wrap .contents .c_top .main-container .swiper-wrapper .swiper-slide a img { width: 100%; }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
.img-thumbnail { border: none; border-radius: 0; padding: 0; }

.tabcontent { display: none; }
.tab_active { display: block; }

.c_middle,.c_bottom { overflow: hidden; }